$grid-breakpoints: (
  xs: 0,
  sm: 960px,
  md: 1024px,
  lg: 1440px,
  xl: 1920px,
);

$container-max-widths: (
    xs: 0,
    sm: 960px,
    md: 1024px,
    lg: 1440px,
    xl: 1920px,
);

@import "~bootstrap/scss/bootstrap";
@import "global";
@import "fonts";
